html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  background-color: transparent;
  overflow-x: hidden;
}

body {
  display: block;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
